body {
    background-color: #eee;
    color: rgb(97, 97, 97);
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

h1 {
    font-size: 28px;
    font-weight: 100;
    margin: 20px 0px 10px 10px;
}

a {
    color: black;
}

.border-table {
    border-collapse: collapse;
    border-color: rgb(97, 97, 97);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px, rgba(0, 0, 0, 0.5) 0px 1px 1px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    background-color: #f9f9f9;
}

.border-table td {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 7px 15px 7px 15px;
    text-align: center;
}

td.number-column {
    text-align: right;
}

td.tex-column {
    text-align: left;
}

.table-header td {
    color: white;
    text-align: center;
    background-color: #4485f4;
    padding: 10px 15px 10px 15px;
    border: rgba(255, 255, 255, 0.2) 1px solid;
}

.pagination-control {
    margin: 5px;
}

.pagination-control a {
    color: rgb(97, 97, 97);
    margin: 0 0.3em 0 0.3em;
    text-decoration: none;
}