<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Анализатор запросов - Задачи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Задачи</h1>

<div style="text-align: center; display: inline-block">
    <table class="border-table">
        <tr class="table-header">
            <td>Дата</td>
            <td>Задача</td>
            <td>Google</td>
            <td>Яндекс</td>
            <td>Запросы</td>
            <td>Прогресс</td>
        </tr>
            <tr th:each="task : ${tasksList}">
                <td th:text="${task.getDateAddedStr()}"/>
                <td class="tex-column"><a th:text="${task.getName()}" th:href="@{/tasks/__${task.getId()}__}"/></td>
                <td th:text="${task.getDoGoogleSearchStr()}"/>
                <td th:text="${task.getDoYandexSearchStr()}"/>
                <td th:text="${task.getQueries().size()}" class="number-column"/>
                <td th:text="${task.getProgress() + '%'}"/>
            </tr>
    </table>
    <div class="pagination-control">
        <a th:text="'<'"
                th:href="@{''(page=${pagination.getCurPageNum()})}"
                th:if="${pagination.getCurPageNum() > 0}"/>
        <a th:text="1"
                th:href="@{''(page=1)}"
                th:if="${pagination.isPrevPagesSkipped()}"/>
        <span th:text="..."
                th:if="${pagination.isPrevPagesSkipped()}"/>
        <a th:each="pageNum : ${pagination.getPrevPagesNums()}"
                th:text="${pageNum + 1}"
                th:href="@{''(page=${pageNum + 1})}"/>
        <a th:text="${pagination.getCurPageNum() + 1}"
                th:if="${pagination.getLastPageNum() > 0}"/>
        <a th:each="pageNum : ${pagination.getNextPagesNums()}"
                th:text="${pageNum + 1}"
                th:href="@{''(page=${pageNum + 1})}"/>
        <span th:text="..."
              th:if="${pagination.isNextPagesSkipped()}"/>
        <a th:text="${pagination.getLastPageNum() + 1}"
           th:href="@{''(page=${pagination.getLastPageNum() + 1})}"
           th:if="${pagination.isNextPagesSkipped()}"/>
        <a th:text="'>'"
           th:href="@{''(page=${pagination.getCurPageNum() + 2})}"
           th:if="${pagination.getCurPageNum() < pagination.getLastPageNum()}"/>
    </div>
</div>
</body>
</html>